<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kisanbandhu.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KisanBandhuAIBasedCropRecommendationAndDecisionSupportMobileApplication">

        <activity
            android:name="com.kisanbandhu.app.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kisanbandhu.app.WelcomeActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.LanguageSelectionActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.MobileEntryActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.OTPVerificationActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.ProfileSetupActivity" android:exported="false" />

        <activity android:name="com.kisanbandhu.app.MainActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.CropRecommendationActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.NPKInputActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.PHInputActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.MoistureInputActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.RecommendationResultActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.MarketAnalysisActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.WeatherInfoActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.ProfileActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.CropHealthActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.FarmInfoActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.EditProfileActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.ContactInfoActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.CropHistoryActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.SettingsActivity" android:exported="false" />
        <activity android:name="com.kisanbandhu.app.HelpSupportActivity" android:exported="false" />

    </application>

</manifest>